<%- include ('master',
  {
    title : title, 
    body : `
    <h1>Selamat datang di website pariwisata palembang</h1>
    <p> ini adalahg halaman website official
    parawisata palembang. anda dapat memesanan
    paket wisata pada website ini. selamat
    menikmati keindahan wisata palembang</p>
    `
  })

%>