<%- include('master', { 
  title: 'Selamat Datang', 
  body: `
  <h1>Selamat datang di website pariwisata palembang</h1>
  <p> ini adalah halaman website resmi 
  parawisata palembang. anda dapat memesanan 
  paket wisata pada website ini. selamat 
  menikmati keindahan wisata palembang</p>
  ` 
}) 
%>